[Api Auth]
methodAuth="POST"
urlAuth="https://transact-pre.ti.com/v1/oauth/"
expire_inAuth=3600
grant_type="example"
client_id="example"
client_secret="example"

[Api Catalog Products]
methodCatalog="GET"
urlCatalog="https://transact-pre.ti.com/v1/store/products/"
